:root {
    --color-primary: #7C3AED;
    --color-primary-light: #A78BFA;
    --color-primary-dark: #5B21B6;
    --color-secondary: #4F46E5;
    --color-secondary-light: #818CF8;
    --color-secondary-dark: #4338CA;
    --color-accent: #EC4899;
    --color-accent-light: #F9A8D4;
    --color-accent-dark: #BE185D;
    --color-white: #FFFFFF;
    --color-black: #111827;
    --color-gray-light: #E5E7EB;
    --color-gray: #9CA3AF;
    --color-gray-dark: #4B5563;
    --color-success: #22C55E;
    --color-error: #EF4444;
    --color-warning: #F59E0B;
    --color-info: var(--color-secondary-light);
    --color-bg-primary: #F5F3FF;
    --color-bg-secondary: #FFFFFF;
    --color-bg-accent: #FCE7F3;
    --color-text-primary: #1E1B4B;
    --color-text-secondary: #6B7280;
    --color-text-inverse: #FFFFFF;
}


.about-hero {
    background: url(../../../images/bg1.jpg);
    color: #fff;
    background-size: cover;
    height: 100vh;

    .container {
        .heading1 {
            padding-top: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;


            h1 {
                font-weight: bold;
                font-size: 4rem;
                line-height: 1.2;
                text-align: center;
            }

            p {
                font-size: 2.5rem;
                color: var(--color-accent-dark);
                text-align: center;
            }
        }
    }

    .bottom-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.6rem;
        height: 450px;


        .col2 {
            margin-top: 10%;

            h5 {
                margin-bottom: 2rem;
            }
        }

        .col1,
        .col2 {
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: start;
            vertical-align: middle;
            padding: 1rem;
            padding-top: 50%;

            h5 {
                font-size: 1.5rem;
                font-weight: 400;
            }

            p {
                font-size: 1rem;
                color: #000;
                background: #ffffff4d;
                padding: 10px 14px;
                border-radius: 8px;
                width: fit-content;
            }
        }
    }
}


.container-mobile {
    max-width: 250px;
    margin: 0 auto;

    .mobile-frame {
        width: 260px;
        height: 510px;
        background-color: transparent;
        border: 6px solid #000;
        border-radius: 15px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.216);
    }

    .sound-line1 {
        position: absolute;
        width: 8px;
        height: 40px;
        top: 50px;
        left: -8px;
        background: #000;
        border-radius: 25%;
    }

    .sound-line2 {
        position: absolute;
        width: 8px;
        height: 40px;
        top: 100px;
        left: -8px;
        background: #000;
        border-radius: 25%;
    }

    .sound-line3 {
        position: absolute;
        width: 8px;
        height: 40px;
        top: 75px;
        right: -8px;
        background: #000;
        border-radius: 25%;
    }

    .notch {
        position: absolute;
        width: 60px;
        height: 20px;
        background-color: #000;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;

        .circle {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            top: 3px;
            left: 70%;
            background-color: #4a3e3e4d;

            .dot {
                position: absolute;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                top: 4px;
                left: 5px;
                background-color: #1128d22c;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: red;
                    width: 5px;
                    height: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    .chevron {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff4d;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 15px;
        border-radius: 50%;

        .ChevronLeft {
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateX(-0.2rem);
                transform: rotate(-90deg);
                cursor: pointer;
                color: var(--color-primary);
            }

            &.rtl {
                transform: scaleX(-1);
            }
        }
    }

    .heading2 {
        position: absolute;
        padding: 0 0.8rem;
        top: 35px;
        display: flex;
        flex-direction: column;
        align-items: start;

        h1 {
            color: #ffffff;
            padding-top: 10px;
            font-size: 1.2rem;
        }

        p {
            color: #c2d1c8;
            padding-top: 5px;
            font-size: 1rem;
        }
    }

    .content-mobile {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        color: #22C55E;
        width: 90%;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #16ab4d;
            cursor: pointer;
        }
        span {
            color: red;
        }

        .row1,
        .row2,
        .row3 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0.5rem 0;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                border-bottom: 1px solid #c2d1c8;
            }
        }
    }

    .footer-mobile {
        position: absolute;
        bottom: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;

        h4 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .services-mobile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2px;

            .services-mobile1,
            .services-mobile2 {
                background-color: var(--color-gray-dark);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1rem;
                border-radius: 5px;
                font-weight: 400;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #5d657222;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-hero .bottom-content {
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .about-hero {
        height: auto;

        .container .heading1 h1 {
            font-size: 3rem;
        }

        .container .heading1 p {
            font-size: 2rem;
        }

        .bottom-content {
            grid-template-columns: 1fr;
            padding-bottom: 2rem;

            .col1,
            .col2 {
                padding-top: 1rem;
            }
        }
    }

    .container-mobile .mobile-frame {
        width: 200px;
        height: 400px;
        border-width: 6px;
    }

    .container-mobile .heading2 h1 {
        font-size: 1rem;
    }

    .container-mobile .heading2 p {
        font-size: 0.9rem;
    }

    .container-mobile .content-mobile {
        top: 30%;
    }

    .services-mobile {}
}

@media screen and (max-width: 480px) {
    .container-mobile .mobile-frame {
        width: 160px;
        height: 320px;
    }

    .container-mobile .heading2 h1 {
        font-size: 0.9rem;
    }

    .container-mobile .heading2 p {
        font-size: 0.8rem;
    }

    .container-mobile .content-mobile {
        top: 28%;
    }
}