.PricingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #0d1117;
    font-size: 1.1rem;

    .PricingCard {
        --white: hsl(0, 0%, 100%);
        --black: hsl(240, 15%, 9%);
        --paragraph: hsl(0, 0%, 83%);
        --line: hsl(240, 9%, 17%);
        --primary: hsl(189, 92%, 58%);
        margin-top: 10rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 19rem;
        background-color: #14141a;
        background-image: radial-gradient(at 88% 40%,
                #14141a 0px,
                transparent 85%),
            radial-gradient(at 49% 30%, #14141a 0px, transparent 85%),
            radial-gradient(at 14% 26%, #14141a 0px, transparent 85%),
            radial-gradient(at 0% 64%, #017084 0px, transparent 85%),
            radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%),
            radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%);
        border-radius: 1rem;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(10px);
        }
    }

}


.PricingCard__border {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 1rem;
}

.PricingCard__titleContainer {
    .PricingCard__title {
        font-size: 1.2rem;
        color: var(--white);
        font-weight: bold;
    }

    .PricingCard__paragraph {
        margin-top: 0.25rem;
        font-size: 1rem;
        color: var(--paragraph);
    }
}

.PricingCard__line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);
    border: none;
}

.PricingCard__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.PricingCard__listItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .PricingCard__check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        height: 1rem;
        background-color: var(--primary);
        border-radius: 50%;

        .PricingCard__checkSvg {
            width: 0.75rem;
            height: 0.75rem;
            fill: var(--black);
        }
    }

    .PricingCard__listText {
        font-size: 0.9rem;
        color: var(--white);
    }
}

.PricingCard__button {
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    background-image: linear-gradient(0deg,
            hsl(189, 92%, 58%),
            hsl(189, 99%, 26%) 100%);
    font-size: 1.2rem;
    color: var(--white);
    border: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -2px 25px -4px var(--white);
    margin-top: auto;
    margin-bottom: 15px;
    transition: background 0.3s ease;

    &:hover {
        background-image: linear-gradient(0deg,
                hsl(189, 99%, 36%),
                hsl(189, 92%, 58%) 100%);
    }
}

@media (max-width: 768px) {
    .PricingContainer {
        flex-direction: column;
        align-items: center;
    }
}